:root {
    --bitcoin-orange: #f7931a;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #282623;
    --black: #201e1c;
    --grey: #a0a0a0;
    --off-white: #faf8f7;
    --just-white: #fff;
    --gradient: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 8px;
}

html::-webkit-scrollbar-thumb {
    background: var(--bitcoin-orange);
    border-radius: 4px;
}

/* --HEADER-- */
header {
    width: 100%;
    height: 340px;
    min-width: 320px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: var(--gradient);
    -webkit-animation: bgAnimateBitcoin 20s ease infinite;
    -moz-animation: bgAnimateBitcoin 20s ease infinite;
    animation: bgAnimateBitcoin 20s ease infinite;
}

header .header--img {
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
}

.header--title-container {
    width: 90%;
    height: 218px;
    min-width: 288px;
    max-width: 900px;
    margin-top: 30px;
    text-align: center;
    align-self: center;
}

.header--title-container h1 {
    color: var(--just-white);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
}

.header--title-container p {
    color: var(--soft-orange);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    margin-top: 25px;
    
}

.header--title-container .header--button {
    position: absolute;
    left: calc(50% - 118px);
    width: 230px;
    height: 48px;
    top: 270px;
    display: block;
    margin-top: 35px;
    padding: 15px;
    background-color: var(--off-white);
    box-shadow: 0px 4px 8px rgba(89, 73, 30, .16);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration: none;
    color: var(--black)
}

.header--button span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url('../assets/icons/down-arrow.svg');
}

main {
    width: 100%;
    height: auto;
    background-color: var(--off-white);
}

/* --SECTION 1-- */
.main--change-container {
    width: 100%;
    height: auto;
    padding: 80px 0px 30px 0px;
    text-align: center;
}

.change-background {
    width: 200px;
    height: 200px;
    margin: 0 auto 50px;
    background: url('../assets/img/Bitcoin.svg') center/cover no-repeat;
}

.change-title {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}

.change-title h2 {
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
    color: var(--black);
}

.change-title p {
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: var(--grey);
}

/* --SECTION 2-- */
.change-tables-container {
    width: 100%;
    height: 700px;
    padding: 30px 10%;
}

.tables-money-grid-container, .tables-commissions-grid-container {
    width: 100%;
    height: 350px;
    padding: 0px 5%;
    max-width: 400px;
    margin: 0 auto;
}

.tables-money-grid-container h3, .tables-commissions-grid-container h4 {
    position: relative;
    margin-bottom: 15px;
    text-align: left;
    font-size: 1.6rem;
    font-weight: 700;
}

.tables-money-grid-container h3 {
    color: var(--bitcoin-orange);
}

.tables-commissions-grid-container h4 {
    color: var(--secondary-blue);
}

.grid-container-statistics, .grid-container-comissions { 
    display: grid;
    margin: 0 auto;
    background-color: var(--just-white);
    border-radius: 5px;
    box-shadow: 5px 10px 8px #888888;
}

.grid-container-statistics {
    grid-template-columns: auto auto auto;
}

.grid-container-comissions {
    grid-template-columns: auto auto;
}

.grid-container-statistics > div, .grid-container-comissions > div {
    text-align: left;
    font-size: 1.6rem;
    margin: 1.6rem 1.6rem;
    color: var(--grey);
}

.grid-container-date-statistics, .grid-container-date-comissions {
    display: grid;
    grid-template-columns: auto;
    margin: 0 auto;
    border-radius: 5px;
    padding: 10px 0px;
    margin: 20px 0px;
    box-shadow: 5px 10px 18px #888888;
    font-size: 1.2rem;
}

.grid-container-date-statistics {
    background-color: var(--soft-orange);
}

.grid-container-date-comissions {
    background-color: var(--soft-blue);
}

.grid-container-date > div {
    text-align: center;
    font-size: 1.2rem;
    color: var(--black);
}

/* --SECTION 3-- */
.main--product-detail {
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px;
    background-color: var(--black);
}

.main--product-detail .product-icon {
    position: absolute;
    width: 40px;
    height: 25px;
    top: -10px;
    left: calc(50% - 20px);
    background-image: url('../assets/icons/batata.svg');
}

.product-detail-title {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
}

.product-detail-title h5 {
    margin-bottom: 20px;
    font-size: 2.4rem;
    color: var(--just-white);
    font-weight: 700;
    line-height: 2.6rem;
}

.product-detail-title p {
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--grey);
}

.product-card-container {
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    height: 160px;
    margin: 15px auto;
    padding: 15px;
    background-color: var(--warm-black);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .16);
}

.product-card-container .icon-card-time, .icon-card-eye, .icon-card-dolar, .icon-card-circle {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
}

.icon-card-time {
    background: url('../assets/icons/clock.svg') center/cover no-repeat;
}

.icon-card-eye {
    background: url('../assets/icons/eye.svg') center/cover no-repeat;
}

.icon-card-dolar {
    background: url('../assets/icons/dollar-sign.svg') center/cover no-repeat;
}

.icon-card-circle {
    background: url('../assets/icons/check-circle.svg') center/cover no-repeat;
}
.product-card-title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.8rem;
    color: var(--just-white);
}

.product-card-detail {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--grey);
}

/* ---SECTION 4--- */

.bitcoin-img-container {
    width: 100%;
    min-width: 320px;
    height: 75vh;
    background: url('../assets/img/bitcoinbaby2x.jpg') center/cover no-repeat;
}

.bitcoin-img-container h6 {
    padding-top: 60px;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
    color: var(--just-white);
    text-align: center;
}

/* ---SECTION 5--- */

.plan-sale-container {
    width: 100%;
    height: 600px;
    /* min-width: 500px; */
    padding: 20px;
    text-align: center;
}

.plan-sale-container h1 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.4rem;
    margin: 40px auto;
}

.plan-sale-container p {
    font-size: 1.4rem;
    color: var(--grey);
    margin-bottom: 40px;
}

.sales-plans-cards {
    display: flex;
    gap: 30px;
    height: 350px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.sale-plan-card {
    position: relative;
    scroll-snap-align: center;
    width: 75%;
    height: 280px;
    min-width: 230px;
    max-width: 300px;
    padding: 0 15px;
    color: var(--off-white);
    box-shadow: 5px 10px 16px rgba(0, 0, 0, .16);
    margin: 10px 30px 50px;
    border-radius: 10px; 
}

.sale-plan-card .plan-sale-favorite {
    position: absolute;
    top: -10px;
    left: calc(50% - 75px);
    width: 150px;
    background-color: var(--bitcoin-orange);
    border-radius: 5px;
    padding: 10px;
    color: var(--just-white);
    margin: 0 auto;
}

.plan-sale-pays {
    width: 75%;
    height: 200px;
    margin: 0 auto;
    padding-top: 40px;
}

.plan-sale-pays h2 {
    color: var(--black);
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: bold;
}

.plan-sale-pays sup {
    font-size: 1.4rem;
    color: var(--black);
    font-weight: bold;
}

.plan-sale-pays .plan-sale-price {
    font-size: 4.8rem;
    color: var(--black);
    font-weight: 1000;
    line-height: 2rem;
}


.sale-plan-card .plan-sale-buttom {
    text-decoration: none;
  
    font-size: 1.4rem;
    color: var(--black);
    border: 2px solid var(--bitcoin-orange);
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: bold;
}

.plan-sale-buttom .plan-sale-buttom-img {
    display: inline-block;
    margin-top: 10px;
    width: 15px;
    height: 15px;
    margin-left: 5px;
    background: url('../assets/icons/orange-right-arrow.svg') center/cover no-repeat;
}

footer {
    display: flex;
    width: 100%;
    height: 150px;
    background-color: var(--bitcoin-orange);
}

footer section {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

footer section ul li {
    list-style: none;
    padding: 2px;
}

footer section ul li a {
    text-decoration: none;
    color: var(--just-white);
    font-size: 1.2rem;
}


@-webkit-keyframes bgAnimateBitcoin {
0%{background-position:0% 50%}
50%{background-position:100% 50%}
100%{background-position:0% 50%}
}
@-moz-keyframes bgAnimateBitcoin {
0%{background-position:0% 50%}
50%{background-position:100% 50%}
100%{background-position:0% 50%}
}
@keyframes bgAnimateBitcoin {
0%{background-position:0% 50%}
50%{background-position:100% 50%}
100%{background-position:0% 50%}
}



